// colors
$b-color-dark: #0ad;
$b-color-primary: #12C3E4;
$b-color-text: #373636;
$b-color-link: #373636;
$b-color-placeholder: #eee;
$b-color-bg: #006237;
$b-color-bg-alt: #373636;

$color: $b-color-primary;
$b-color-highlighting: $b-color-primary;


// typography
$b-font-family: 'GillSans', sans-serif;
$b-font-size: 14px;
$b-line-height: 1.4;


// layout
$slider-h: 90px;
$spacing: 20px;
