@import '../base.scss';

$bg-options: #444;
$color-options: #fff;
$padding-option: 20px;

$color-chevron: #373636;


.select-field-container {
  position: relative;
  user-select: none;
}

.label {
  @extend %label;
}


.select-input {
  &:hover {
    .select-input__title {
      color: $color;
    }

    .svg-chevron-down {
      fill: $color;
    }

    .select-input__options-wrap {
      display: block;
    }
  }

  &:focus {
    box-shadow: inset 0 -1px 0 0 $color;
    color: $color;
  }

  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;

    .svg-chevron-down {
      margin-top: 2px;
      margin-left: 5px;
      width: 11px;
      fill: $color-chevron;
    }
  }

  &__options-wrap {
    z-index: 1;
    display: none;
    position: absolute;
    top: 100%;
    left: -$padding-option;
  }

  &__options {
    padding: $padding-option 0;
    background-color: $bg-options;
    color: $color-options;
    cursor: default;
    margin-top: 10px;

    &__option {
      display: block;
      padding: 0 $padding-option;
      white-space: nowrap;

      &:hover,
      &.is-active {
        color: $color;
      }

      &__btn {
        display: block;
        width: 100%;
        height: 100%;
        text-align: left;
        cursor: pointer;
        color: inherit;
      }
    }
  }
}
