extends: airbnb
rules:
  react/require-extension: 0
  max-len: [1, 120, 4]
  react/forbid-prop-types: 0
  react/jsx-filename-extension: [1, { extensions: [.test.js, .jsx] }]
  react/jsx-first-prop-new-line: 0
globals:
  document: true
  foo: true
  window: true
  describe: true
  it: true
  expect: true
