@import '../../scss/inc/variables';

$unit: 10px;
$color-white: #fff;
$color-primary: $b-color-primary;
$color-transparent: rgba(255, 255, 255, 0.7);

$toggle-size: 40px;
$toggle-radius: 2px;

.wallpaper-picker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: 2;
  display: flex;
  transform: translateX(100%);
  transition: transform .3s ease, opacity .3s ease;

  &:hover {
    opacity: 1;
    transform: translateX(0);

    .svg-wallpaper {
      display: none;
    }

    .wallpaper-picker__toggle {
      .svg-pin,
      .svg-pinned {
        display: block;
        fill: $color-primary
      }
    }
  }

  &__items {
    overflow: auto;
    background-color: $color-transparent;
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: 100%;
    display: flex;
    justify-content: center;
    width: $toggle-size;
    height: $toggle-size;
    background-color: $color-white;
    border-top-left-radius: $toggle-radius;
    border-bottom-left-radius: $toggle-radius;
    transform: translateY(-50%);

    .svg {
      width: 18px;
      height: 22px;
    }

    .svg-pin,
    .svg-pinned {
      display: none;
    }
  }
}
