@import '../../scss/inc/variables';

.wallpaper-picker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  z-index: 2;
  display: flex;
  transform: translateX(100%);
  transition: transform .3s ease, opacity .3s ease;

  &:hover {
    opacity: 1;
    transform: translateX(0);

    .svg-wallpaper {
      fill: $b-color-primary
    }
  }

  &__items {
    overflow: auto;
    width: 200px;
    border: 10px solid #fff;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: 100%;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transform: translateY(-50%);

    .svg-wallpaper {
      width: 18px;
    }
  }
}
