@import '../../scss/helpers/ellipse';

.todos__todo {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  line-height: 1.3;
  color: #444;

  &:hover {
    .todos__todo__btn {
      display: inline-block;
    }
  }
}

.todos__todo__title {
  @extend %ellipse;
}

.todos__todo__category {
  @extend %ellipse;
  margin-left: auto;
  font-size: 12px;
  color: #ccc;
}

.todos__todo__btn {
  display: none;
}

.blog__form {
  // background-color: #ddd;
}

.blog__detail {
  // background-color: #eee;
}

.error {
  color: red;
}
