@import '../../scss/inc/variables';
@import '../../scss/helpers/ellipse';

$spacing-filters: 15px;
$color-border-filters: #e6e6e6;


.newsfeed {
  background-color: #fff;

  &__options {
    display: flex;
    text-transform: none;
  }

  &__views {
    display: flex;

    &__view {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      &__btn {
        color: inherit;

        &:hover,
        &.is-active {
          color: $color;
        }

        &.is-active {
          padding-bottom: 1px;
          border-bottom: 1px solid $color;
        }
      }
    }
  }
}

.filters {
  display: flex;
  margin-right: $spacing-filters;
  padding-right: $spacing-filters;
  border-right: 1px solid $color-border-filters;

  &__filter {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.sources {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  &__source {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
    box-shadow: inset 0 0 0 2px #ccc;

    &:hover {
      box-shadow: 0 0 0 2px #444;

      .sources__source__name {
        display: flex;
      }
    }

    &.is-active {
      box-shadow: 0 0 0 2px #444;
    }

    &__img {
      max-width: 100%;
      max-height: 100%;
    }

    &__name {
      display: none;
      position: absolute;
      bottom: 0;
      text-align: center;
      justify-content: center;
      line-height: 1;
      padding: 5px;
      width: 100%;
      font-size: 12px;
      color: #fff;
      background-color: #444;

      &:hover {
        background-color: $color;
        color: #fff;
        box-shadow: 0 0 0 2px $color;
      }
    }
  }
}

.active-filters {
  margin-bottom: 20px;
}

.pill {
  display: inline-flex;
  margin-right: 10px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 1px;
  background-color: #373636;

  &:last-child {
    margin-right: 0;
  }
}

.sources__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.articles {
  margin: 0 -20px; // TODO: update widget component padding logic
}

.article {
  display: flex;
  position: relative;
  padding: 10px 20px;
  line-height: 1.2;

  &:first-child {
    padding-top: 0;
  }

  &:nth-child(2n) {
    background-color: whitesmoke;
  }

  &__img-wrap {
    position: relative;
    margin-right: 20px;
  }

  &__img {
    width: 170px;
  }

  &__source {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 15px;
    background-color: $color;
    color: #fff;

    &.is-recode {
      background-color: #ee2c24;
    }

    &.is-reddit {
      background-color: #000;
    }

    &.is-mashable {
      background-color: #3e85c3;
    }
  }

  &__date {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0px;
    padding: 8px 15px;
    font-size: 10px;
    background-color: #444;
    color: #e6e6e6;
    white-space: nowrap;

    &__time {
      margin-left: 5px;
      color: #a7a7a7;
    }
  }

  &__details {
    &__title {
      display: block;
      margin-bottom: 10px;
      font-size: 17px;

      &:hover {
        color: $color;
      }
    }

    &__description {
      color: #999;
    }
  }

  &:hover {
    .article__date {
      display: block;
    }
  }
}
