@import '../../scss/inc/variables';
@import '../../scss/helpers/ellipse';

$spacing-filters: 15px;
$color-border-filters: #e6e6e6;


.newsfeed {
  background-color: #fff;

  &__options {
    display: flex;
    text-transform: none;
  }

  &__views {
    display: flex;

    &__view {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      &__link {
        color: inherit;

        &:hover,
        &.is-active {
          color: $color;
        }

        &.is-active {
          padding-bottom: 1px;
          border-bottom: 1px solid $color;
        }
      }
    }
  }
}

.filters {
  display: flex;
  margin-right: $spacing-filters;
  padding-right: $spacing-filters;
  border-right: 1px solid $color-border-filters;

  &__filter {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.sources {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  &__source {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
    box-shadow: inset 0 0 0 1px #ccc;

    &:hover {
      box-shadow: 0 0 0 2px #ccc;
    }

    &.is-active {
      box-shadow: 0 0 0 2px #666;
    }

    &__img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.sources__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}
