@import '../../scss/inc/variables';
@import '../../scss/helpers/ellipse';

$spacing-filters: 15px;
$color-border-filters: #e6e6e6;


.newsfeed {
  background-color: #fff;

  &__options {
    display: flex;
    text-transform: none;
  }
}

.sources {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  &__source {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
    box-shadow: inset 0 0 0 2px #ccc;

    &:hover {
      box-shadow: 0 0 0 2px #444;

      .sources__source__name {
        display: flex;
      }
    }

    &.is-active {
      box-shadow: 0 0 0 2px #444;
    }

    &__img {
      max-width: 100%;
      max-height: 100%;
    }

    &__name {
      display: none;
      position: absolute;
      bottom: 0;
      text-align: center;
      justify-content: center;
      line-height: 1;
      padding: 5px;
      width: 100%;
      font-size: 12px;
      color: #fff;
      background-color: #444;

      &:hover {
        background-color: $color;
        color: #fff;
        box-shadow: 0 0 0 2px $color;
      }
    }
  }
}

.sources__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}
