@import '../../scss/inc/variables';

.pg-settings {
  &__options {
    &__option {
      display: flex;
      margin-bottom: 15px;
      height: 30px;;

      &.is-active {
        color: $color;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &__label {
        float: left;
        margin-right: $spacing;
        font-size: $b-font-size;
        text-transform: none;
      }
    }
  }
}
