.blog-posts__post {
  display: block;

  &:hover {
    .blog-posts__post__btn {
      display: inline-block;
    }
  }
}

.blog-posts__post__btn {
  display: none;
}

.blog__form {
  background-color: #ddd;
}

.blog__detail {
  background-color: #eee;
}

.error {
  color: red;
}
