.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.svg-spinner {
  z-index: 1;
  position: absolute;
  width: 30px;
  left: 50%;
  top: 50%;
  stroke: #fff;
  transform: translate(-50%, -50%);

  &.theme-dark {
    stroke: #373636;
  }
}
