@import '../../scss/inc/variables';

%label {
  flex-grow: 1;;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
  user-select: none;

  &.is-active {
    color: $b-color-dark;
  }
}

%field-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  line-height: 1;
  user-select: none;
}
