@import '../../scss/inc/_base.scss';

$color-error: #f06666;

@mixin placeholders($placeholder-color) {
  &::-webkit-input-placeholder {
   color: $placeholder-color;
  }

  &::-moz-placeholder {
     color: $placeholder-color;
  }

  &:-ms-input-placeholder {
     color: $placeholder-color;
  }
}

.label {
  margin-right: 20px;
  text-transform: uppercase;
  user-select: none;
}

.field-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
  user-select: none;
}

.field__error {
  position: absolute;
  right: 10px;
  font-size: 11px;
  color: $color-error;
}
