@import 'src/client/app/scss/inc/variables';

.wallpaper-picker-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 113px;
  background-color: #373636;
  cursor: pointer;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    .svg-heart-line {
      display: block;
    }
  }

  &.is-active {
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      width: 10px;
      background-color: $b-color-primary;
    }
  }

  &__img {
    width: 100%;
  }

  .svg-spinner {
    width: 25px;
  }

  .svg {
    position: absolute;
    fill: #fff;
  }

  .svg-tick {
    width: 24px;
  }

  .svg-heart {
    bottom: 10px;
    right: 10px;
    width: 13px;
  }

  .svg-heart-line {
    display: none;
  }

  .svg-heart-fill {
    fill: $b-color-dark;
  }
}
