@import '../../scss/inc/_base.scss/';
@import '../../scss/inc/_scrollbars.scss/';

.widget {
  position: absolute;

  &__header {
    opacity: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    width: 100%;
    transition: opacity 0.3s ease;
  }
}

.widget__content {
  position: relative;
  padding: $spacing;
  background-color: #fff;

  &.has-transparent-bg {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color .3s ease;

    &:hover {
      background-color: #fff;
    }
  }
}


.has-set-height {
  @extend %scrollbars;
}

.has-transparent-scrollbars {
  .has-set-height {
    @extend %scrollbars-transparent;
  }

  .has-scroll {
    padding: $spacing $spacing - 5px $spacing $spacing;
    margin-right: 5px;
  }
}
