@import '../../scss/inc/variables';
$slider-arrow-w: 50px;

.slider-wrap {
  z-index: 2;
  position: fixed;
  bottom: 0;
  padding: 0 $slider-arrow-w;
  width: 100%;
  height: $slider-h;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(calc(100% - #{$spacing}));
  transition: transform .3s ease, background-color .3s ease;

  .slider-arrow {
    opacity: 0;
  }

  &:hover {
    transform: translateY(0);
    background-color: #fff;

    .slider-arrow {
      opacity: 1;
    }
  }
}

.slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: $slider-arrow-w;
  background-color: #fff;
  fill: #ccc;
  cursor: pointer;
  transition: opacity .3s ease, fill .3s ease;

  &:hover {
    fill: $color;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    cursor: pointer;
  }

  svg {
    width: 25px;
    height: 100%;
  }

  &.is-disabled {
    color: #eee;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      fill: #ccc;
    }
  }
}

.slider {
  white-space: nowrap;
  transition: transform .3s ease;

  &__slide {
    width: 25%;
    text-align: center;
    line-height: $slider-h;
    cursor: pointer;

    &.is-active {
      color: $color;
    }

    &:hover {
      .slider__slide__title {
        color: $color;
      }
    }
  }
}
