@import '../../scss/inc/variables';
$item-h: 40px;
$item-spacing: 20px;

.sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #444;
  transform: translateX(calc(-100% + #{$item-spacing}));
  transition: transform .3s ease, background-color .3s ease;

  &:hover {
    z-index: 3;
    transform: translateY(0);
    background-color: #fff;
  }

  &__logo {
    padding: 20px;
    line-height: 1;
    font-size: 30px;
  }

  &__list {
    flex-grow: 1;
    padding: 10px 0;

    &__item {
      display: block;
      position: relative;
      line-height: $item-h;

      &__link {
        display: block;
        padding: 0 $item-spacing;
      }

      &:hover {
        .sidebar__list__item__link {
          color: $color;
        }

        .sidebar__sublist {
          opacity: 1;
          visibility: visible;
          color: #fff;
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__sublist {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    padding: $item-spacing 0;
    border-left: 0 solid $color;
    background-color: #444;
    cursor: default;
    transform: translateY(-$item-spacing);
    transition: border-width .1s ease-out;

    &:hover {
      border-width: 5px;
    }

    &__item {
      display: block;
      padding: 0 $item-spacing;
      cursor: pointer;

      &:hover {
        background-color: $color;
      }
    }
  }
}

.sidebar__acknowledgements {
  padding: 0 20px;
  font-size: 12px;
}
.sidebar__apis {
  margin-top: 10px;
  padding: 10px 0;

  &__api {
    display: block;
    line-height: 30px;

    &__link {
      color: #999;

      &:hover {
        color: $color;
      }
    }
  }
}
